
.App {
  text-align: center;
}

.App-header {
  background-color: #266867;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

button {
  border-radius: 8px;
  background-color: #266867;
  border: none;
  color: white;
  padding:0.4em 2em;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  text-shadow: #222222 1px 1px 0;
}

button:hover {
  text-shadow: #222222 1px 1px 0;
  color: white;
  background-color: #325c5c;
}

input {
  border: none;
  border-bottom: 2px solid #266867;
}

.commentForm {
  border: none;
  border-bottom: 2px solid #266867;
  width:600px;
}